In [1]:
!pip install numpy pandas openpyxl

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd

# データフレームの作成
df = pd.DataFrame({
    '日付':
      ['2023-05-17', '2023-05-18', '2023-05-19', '2023-05-20', '2023-05-21'],
    '社員名': ['山田', '佐藤', '鈴木', '田中', '高橋'],
    '売上': [100, 200, 150, 300, 250],
    '部門': ['メーカー', '代理店', 'メーカー', '商社', '代理店'],
})

print(df)

           日付 社員名   売上    部門
0  2023-05-17  山田  100  メーカー
1  2023-05-18  佐藤  200   代理店
2  2023-05-19  鈴木  150  メーカー
3  2023-05-20  田中  300    商社
4  2023-05-21  高橋  250   代理店

In [8]:
# 「平均売上」列を作成し、全体の売上の平均を算出
df['平均売上'] = df['売上'].mean()

print(df)

           日付 社員名   売上    部門   平均売上
0  2023-05-17  山田  100  メーカー  200.0
1  2023-05-18  佐藤  200   代理店  200.0
2  2023-05-19  鈴木  150  メーカー  200.0
3  2023-05-20  田中  300    商社  200.0
4  2023-05-21  高橋  250   代理店  200.0

In [11]:
def performance(level):
  result = '';
  if level >= (df['平均売上'][0] + 50):
    result = 'A'
  elif level >= df['平均売上'][0]:
    result = 'B'
  else:
    result = 'C'
  return result

df['業績ランク'] = df['売上'].apply(performance)

print(df)

           日付 社員名   売上    部門   平均売上 業績ランク
0  2023-05-17  山田  100  メーカー  200.0     C
1  2023-05-18  佐藤  200   代理店  200.0     B
2  2023-05-19  鈴木  150  メーカー  200.0     C
3  2023-05-20  田中  300    商社  200.0     A
4  2023-05-21  高橋  250   代理店  200.0     A

In [12]:
# Excelファイルを作成
writer = pd.ExcelWriter('業績.xlsx')

# DataFrameオブジェクトをExcelファイルに書き込む
df.to_excel(writer, sheet_name='Sheet1', index=False)

In [13]:
writer.close()